/*------- Fintech Styles ------------*/
* {
    margin: 0; /*Resetando a página do navegador*/
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif; /*Retirado do Google fonts*/
}

body {
    background-color: #05536f;
}

.registration-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1);
}